.border {
  border-style: solid;
  border-width: 1px;
}

div#main {
	position: relative;
	width: 800px;
	height: 650px;
}

div#topbar {
	position: absolute;
	top: 3px;
	left: 3px;
	height: 27px;
	width: 792px;
}

div#resobar {
	position: absolute;
	top: 35px;
	left: 3px;
	height: 610px;
	width: 180px;
	
}

div#clickbar{
	position: absolute;
	top: 35px;
	left: 187px;
	height: 610px;
	width: 200px;
}

div#buildbar{
	position: absolute;
	top: 35px;
	left: 391px;
	height: 610px;
	width: 200px;
}

div#unitbar{
	position: absolute;
	top: 35px;
	left: 595px;
	height: 610px;
	width: 200px;
}



div#resbar{
	position: absolute;
	top: 35px;
	left: 140px;
	display: none;
}

div#expbar{
	position: absolute;
	top: 35px;
	left: 360px;
	display: none;
}
