@font-face {
    font-family: 'bubblewumpregular';
    src: url('assets/bubblewump-webfont.woff2') format('woff2');
    src: url('assets/bubblewump-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div#main {
	position: relative;
	width: 800px;
	height: 650px;
}

div#monstername {
	position: absolute;
	top: 160px;
	left: 0px;
	text-align: center;
	width:800px;
	font-family: 'bubblewumpregular';
	font-size: 30px;
	color: white;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;
}

div#yeltotal{
	position: absolute;
	top: 325px;
	left: 575px;
	font-family: 'bubblewumpregular';
	font-size: 20px;
	color: white;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;
}

div#redtotal{
	position: absolute;
	top: 355px;
	left: 575px;
	font-family: 'bubblewumpregular';
	font-size: 20px;
	color: white;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;
}

div#yellowbutton {
	position: absolute;
	top: 175px;
	left: 0px;
	width:260px;
}

div#redbutton {
	position: absolute;
	top: 235px;
	left: 0px;
	width:260px;
}

.resclick {
  width:50px;
  height:50px;
  outline: none;
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 0 2px #999;
  background-repeat: no-repeat;
  background-position: center;
}

.resclick:active {
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.red{
	background-color: #ffcaca;
	background-image: url("assets/redicon.png");
}

.red:hover{
	background-color: #f8cdcd;
}

.red:active{
	background-color: #d7b4b4;
}

.yellow{
	background-color: #fff5b3;
	background-image: url("assets/yellowicon.png");
}

.yellow:hover{
	background-color: #f8f0bb;
}

.yellow:active{
	background-color: #e7e1b9;
}
